*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #2e1f36;
  background-image: url(public/assets/Grunge.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  overflow: hidden;
}

:root::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-image: url(public/assets/grid.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: screen;
  opacity: 0.05 ;
  z-index: -1;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}