@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Font1';
    src: url('../public/assets/Thedus_Condensed_Light_Bold_900.otf') format('truetype');
}

@font-face {
    font-family: 'Font2';
    src: url('../public/assets/Thedus-CondensedLight.otf') format('truetype');
}



.infobox{
    font-family: 'Playfair Display', sans-serif;
    color: #ccae56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    text-align: center;
    background: linear-gradient(141deg, #D4A753 38.83%, #907440 53.62%, #D4A753 75.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name{
    font-size: 7vh;
    line-height: 1;
    width: 40vw;
    font-weight: 600;
}

.depname{
    font-family: 'Font2', sans-serif;
    font-size: clamp(1rem, 5vh, 7.5rem);
    line-height: 0.8;
    width: 40vw;
}

.description{
    font-size: 24px;
    text-align: justify;
}